In [1]:
#Type here. Assign a number to the variable: glass_of_water

glass_of_water= 3

print("I drank", glass_of_water, "glasses of water today.")

I drank 3 glasses of water today.

In [2]:
#Fill the print function so it prints glass_of_water

glass_of_water=3

glass_of_water=glass_of_water + 1


print(glass_of_water)

4

In [3]:
#Assign an integer to the variable, then print it.

men_stepped_on_the_moon=
print()

SyntaxError: invalid syntax (3917423154.py, line 3)

In [4]:
#Type a couple of words or a short sentence for your variable, then print it.

my_reason_for_coding=
print()

SyntaxError: invalid syntax (2679552784.py, line 3)

In [5]:
#Assign a float with 2 decimals to the variable below. If you don't wan't to search the value you can check out Hint 1.

global_mean_sea_level_2018=21

#Type your code here.
global_mean_sea_level_2018=


print(global_mean_sea_level_2018)

SyntaxError: invalid syntax (2850882771.py, line 6)

In [6]:
#Assign True or False to the variable below then print it.

staying_alive=
print(staying_alive)

SyntaxError: invalid syntax (3882308178.py, line 3)

In [7]:
men_stepped_on_the_moon=12

#Type your code here.

answer_1=type(men_stepped_on_the_moon)


print(answer_1)

<class 'int'>

In [8]:
my_reason_for_coding="intergalactic travel"

#Type your code here.

answer_2= type(my_reason_for_coding)


print (answer_2)

<class 'str'>

In [9]:
global_mean_sea_level_delta_2018=21.36

#Type your code here.

answer_3=type(global_mean_sea_level_delta_2018)


print(answer_3)

<class 'float'>

In [10]:
men_stepped_on_the_moon=12

#Type your code here.

answer_1=type(men_stepped_on_the_moon)


print(answer_1)

<class 'int'>

In [11]:
my_reason_for_coding="intergalactic travel"

#Type your code here.

answer_2= type(my_reason_for_coding)


print (answer_2)

<class 'str'>

In [12]:
global_mean_sea_level_delta_2018=21.36

#Type your code here.

answer_3=type(global_mean_sea_level_delta_2018)


print(answer_3)

<class 'float'>

In [13]:
staying_alive=True

#Type your code here.


answer_4=type(staying_alive)


print(answer_4)

<class 'bool'>

In [14]:
#my_grade variable is a string (because it's in quotes). On line 9, convert it to an integer.

my_grade="10"

answer_5=int(my_grade)


print(answer_5)

10

In [15]:
#my_temp variable is a float (because it has decimals). On line 9, convert it to an integer.

my_temp=97.70

answer_6=int(my_temp)


print(answer_6)

97

In [16]:
#shoe_price variable is a string (because it's in quotes). On line 9, convert it into a float.

shoe_price="69.99"

answer_7= float(shoe_price)


print(answer_7)

69.99

In [17]:
#GWP denotes the total economic activity created by the world population collectively in a year.

gross_world_product=84.84

gwp_str=str(gross_world_product)

answer_8="In 2018 gross product of the world (GWP) was " + gwp_str + " in trillion US dollars."


print(answer_8)

print(type(answer_8))

In 2018 gross product of the world (GWP) was 84.84 in trillion US dollars.
<class 'str'>

In [1]:
#Create an empty list on line 3 and assign its type on line 4

gift_list= list()

answer_1= type(gift_list)


print(answer_1)

<class 'list'>

In [2]:
#Create an empty dictionary on line 3 and assign its type on line 4

grocery_items= dict()

answer_2= type(grocery_items)


print(answer_2)

<class 'dict'>

In [3]:
#Create an empty tuple on line 3 and assign its type on line 4

bucket_list= tuple()

answer_2= type(bucket_list)


print(answer_2)

<class 'tuple'>

In [4]:
#Fill in the right side of equation on line 4 so that gift_list 
#is assigned to a list with values in it.

gift_list= ["ipad", "telefono", "oreos"]
print(gift_list)

['ipad', 'telefono', 'oreos']

In [5]:
#Fill in the right side of equation on line 3 so that grocery_list 
#is assigned to a dictionary with values in it.

grocery_list= {'bananas':8, 'leches':['deslactosada', 'entera', 'light'],
               'notas': 'tiene que estar listo antes del annio nuevo',
               'comida_de_navidad': {'plato_1':'pavo', 'plato_2':'romeritos', 
                                     'plato_3': 'bacalao'},
              'fecha_de_navidad':('24 de diciembre')}
                                     


print(grocery_list)

{'bananas': 8, 'leches': ['deslactosada', 'entera', 'light'], 'notas': 'tiene que estar listo antes del annio nuevo', 'comida_de_navidad': {'plato_1': 'pavo', 'plato_2': 'romeritos', 'plato_3': 'bacalao'}, 'fecha_de_navidad': '24 de diciembre'}

In [6]:
#Fill in the right side of equation on line 3 so that bucket_list is assigned to a tuple with values in it.

bucket_list= ('comer chocolates', 'comer pan dulce', 'comer bananas')
print(bucket_list)

('comer chocolates', 'comer pan dulce', 'comer bananas')

In [1]:
lst=[11, 100, 99, 1000, 999]
answer_1= lst[0]

print(answer_1)

11

In [2]:
lst=[11, 100, 101, 999, 1001]

print(lst[1])

100

In [3]:
lst=[11, 100, 101, 999, 1001]
#Type your answer here.

answer_1= lst[-1]

print(answer_1)

1001

In [4]:
gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.
gift_list.append('pajamas')


print(gift_list)

['socks', '4K drone', 'wine', 'jam', 'pajamas']

In [5]:
gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.
gift_list.append(["socks", "tshirt", "pajamas"])


print(gift_list)

['socks', '4K drone', 'wine', 'jam', ['socks', 'tshirt', 'pajamas']]

In [6]:
gift_list=['socks', '4K drone', 'wine', 'jam']
# Type your code here.
gift_list.insert(2,'slippers')


print(gift_list)

['socks', '4K drone', 'slippers', 'wine', 'jam']

In [7]:

lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here.

answer_1= lst.index(8679)

print(answer_1)

8

In [8]:
lst=["CRV", "Outback", "XC90", "GL", "Cherokee", "Escalade"]
#  Type your code here.
lst.append(["Navigator", "Suburban"])


print(lst)

['CRV', 'Outback', 'XC90', 'GL', 'Cherokee', 'Escalade', ['Navigator', 'Suburban']]

In [9]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here.
lst.remove(99)


print(lst)

[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123]

In [10]:
lst=[55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99]
#  Type your code here.
lst.reverse()


print(lst)

[99, 123, 8679, 2, 1, 101, 76, 6, 54, 777, 55]

In [11]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]
#  Type your code inside print() function.

answer_1= lst.count(6)

print(answer_1)

4

In [12]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1= sum(lst)

print(answer_1)

1090

In [13]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1= min(lst)

print(answer_1)

1

In [14]:
lst=[55, 6, 777, 54, 6, 76, 101, 1, 6, 2, 6]

#  Type your code on line 4:
answer_1= max(lst)

print(answer_1)

777

In [1]:
tt=(11, 100, 99, 1000, 999)

answer_1= tt[0]


print(answer_1)

11

In [2]:
tt=(11, 100, 101, 999, 1001)

#Type your answer here.

answer_1= tt[2]

print(answer_1)

101

In [3]:
lst=(11, 100, 101, 999, 1001)

#Type your answer here.

answer_1= lst[-2]

print(answer_1)

999

In [4]:

tt=(55, 777, 54, 6, 76, 101, 1, 2, 8679, 123, 99)
#  Type your code here.

answer_1= tt.index(2)

print(answer_1)

7

In [5]:
tt=(55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

#  Type your code here.

answer_1= tt.count(777)

print(answer_1)

2

In [6]:
tt=(42, 1092, 11, 88, 65, 2, 6)

#  Type your code on line 4:

ans_1= sum(tt)


print(ans_1)

1306

In [7]:
tt=(66, 555, 11, 101, 9, 1001)

#  Type your code on line 4:

ans_1= min(tt)


print(ans_1)

9

In [8]:
tt=(66, 555, 11, 101, 9, 1001)

#  Type your code on line 4:

ans_1= max(tt)


print(ans_1)

1001

In [9]:
dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
answer_1= dict["born"]

print(answer_1)

-427

In [10]:
dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
dict["born"] = -428

print(dict["born"])

-428

In [11]:
dict={"name": "Plato", "country": "Ancient Greece", "born": -427, "teacher": "Socrates", "student": "Aristotle"}

#Type your answer below.
dict["work"]=["Apology", "Phaedo", "Republic", "Symposium"]

print(dict)

{'name': 'Plato', 'country': 'Ancient Greece', 'born': -427, 'teacher': 'Socrates', 'student': 'Aristotle', 'work': ['Apology', 'Phaedo', 'Republic', 'Symposium']}

In [12]:
dict={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.
dict["son's height"]=dict["son's height"]+2

print(dict)

{"son's name": 'Lucas', "son's eyes": 'green', "son's height": 34, "son's weight": 25}

In [13]:
dict={"son's name": "Lucas", "son's eyes": "green", "son's height": 32, "son's weight": 25}

#Type your answer below.
ans_1= dict.items()

print(ans_1)

dict_items([("son's name", 'Lucas'), ("son's eyes", 'green'), ("son's height", 32), ("son's weight", 25)])

In [14]:
dict = {"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Type your answer inside the print.
ans_1= dict.get("son's eye color")

print (ans_1)

green

In [15]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Type your answer here.
ans_1= dict.get("son's age",2)

print(ans_1)

2

In [16]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#clear the dictionary here then print it.
dict.clear()

print(dict)

{}

In [17]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1=len(dict)

print(ans_1)

4

In [18]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1=max(dict)

print(ans_1)

son's weight

In [19]:
dict={"son's name": "Lucas", "son's eye color": "green", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1= min(dict)

print(ans_1)

son's eye color

In [1]:
#Type your answer here.

str="It's always darkest before dawn."

print(str)

It's always darkest before dawn.

In [2]:
str="It's always darkest before dawn."

#Type your answer here.

ans_1= str[0]+str[1]+str[-1]

print(ans_1)

It.

In [3]:
str="It's always darkest before dawn."

#Type your code here.
str=str.replace('.','!') 


print(str)

It's always darkest before dawn!

In [4]:
str="EVERY Strike Brings Me Closer to the Next Home run."
# Type your code here.
str=str.lower()



print(str)

every strike brings me closer to the next home run.

In [5]:
str="don't stop me now."
# Type your code here.
str=str.upper()


print(str)

DON'T STOP ME NOW.

In [6]:
str="there are no traffic JamS Along The extra mile."

#Type your answer here.
str=str.capitalize()



print(str)

There are no traffic jams along the extra mile.

In [7]:

str="There are no traffic jams along the extra mile."
#  Type your code here.

ans_1=str.startswith("A")


print(ans_1)

False

In [8]:
str="There are no traffic jams along the extra mile."
#  Type your code here.


ans_1=str.endswith(".")


print(ans_1)

True

In [9]:
str="The best revenge is massive success."

#  Type your code here.

ans_1= str.index("v")


print(ans_1)

11

In [10]:
str="The best revenge is massive success."

#  Type your code here.

ans_1=str.find("m")


print(ans_1)

20

In [11]:
str="The best revenge is massive success."

#  Type your code here.

ans_1=str.index("X")

print(ans_1)

ValueError: substring not found

In [12]:
str="People often say that motivation doesn't last. Well, neither does bathing.  That's why we recommend it daily."
#  Type your code here.

ans_1=str.count("a")

ans_2=str.count("o")


print("count of a is: ", ans_1, " count of o is: ", ans_2)

count of a is:  7  count of o is:  7

In [13]:
v_1="1"
v_2=1

#  Type your code on line 4:

ans_1=type(v_1)

ans_2=type(v_2)


print(ans_1)
print(ans_2)

<class 'str'>
<class 'int'>

In [14]:
str="1.975.000"

#  Type your code here:

ans_1=len(str)


print(ans_1)

9

In [7]:
dict={"son's name": "aucas", "son's eye color": "greeeeeeeeeen", "son's height": 32, "son's weight": 25}

#Write your answer here.
ans_1= min(dict)

print(ans_1)

son's eye color

In [13]:
lst=[11, 100, 101, 999, 1001]

#Type your answer here.
lst.sort(reverse=True)


print(lst)

[1001, 999, 101, 100, 11]

In [43]:
import random

In [44]:
elc_members=["Ana","Sof","Diego","Chio","Lily","July","Pri","Montse","Carlos","Vicky","Isaias","Z","Gerry"]

In [126]:
def standup_order(elc_names,order):
    print(elc_names)
    if order == "a_to_z":
        a = elc_names.sort()
        return(a)
    if order == "z_to_a":
        return(elc_names.sort(reverse=True))
    if order == "random":
        return(random.shuffle(elc_names))

In [127]:
standup_order(elc_members,"a_to_z")

['Chio', 'Sof', 'Carlos', 'Diego', 'Montse', 'Pri', 'Isaias', 'Gerry', 'Lily', 'Ana', 'Z', 'July', 'Vicky']

In [128]:
standup_order(elc_members,"z_to_a")

['Ana', 'Carlos', 'Chio', 'Diego', 'Gerry', 'Isaias', 'July', 'Lily', 'Montse', 'Pri', 'Sof', 'Vicky', 'Z']

In [129]:
standup_order(elc_members,"random")

['Z', 'Vicky', 'Sof', 'Pri', 'Montse', 'Lily', 'July', 'Isaias', 'Gerry', 'Diego', 'Chio', 'Carlos', 'Ana']

In [1]:
#Type your answer here.

ans_1= input()
 
print("Hello!, " + ans_1)

Holi
Hello!, Holi

In [4]:
# Type your answer here.

message= input("How many days would you like to convert to a year?")

result= int(message)/365


print(result)

How many days would you like to convert to a year?100000
273.972602739726

In [5]:
#Type your answer here.

ans_1= input("Please enter your name.")
 
print("Hello!, " + ans_1)

KeyboardInterrupt: Interrupted by user

In [ ]:
#Type your code here.
ans_1= input("Please enter your age.")


print(type(ans_1))

In [ ]:
#Type your answer inside print function, all in one line.

print(int(input("Please enter the current year."))+50)

In [11]:
# Type your answer here.

message= input("How many days would you like to convert to a year?")

result= int(message)//365


print(result)

How many days would you like to convert to a year?800
2

In [10]:
# Type your answer here.

message=input("How many days would you like to convert to a year?")

result=float(message)/365


print(result)

How many days would you like to convert to a year?800
2.191780821917808

In [ ]:
# Type your answer here.

message= input("How many miles would you like to convert to kms?") 

result= float(message)*1.609


print(result)

In [ ]:
#API introduction