In [1]:
#Type here. Assign a number to the variable: glass_of_water

glass_of_water= 3

print("I drank", glass_of_water, "glasses of water today.")

I drank 3 glasses of water today.

In [2]:
#Fill the print function so it prints glass_of_water

glass_of_water=3

glass_of_water=glass_of_water + 1


print(glass_of_water)

4

In [3]:
#Assign an integer to the variable, then print it.

men_stepped_on_the_moon=
print()

SyntaxError: invalid syntax (3917423154.py, line 3)

In [4]:
#Type a couple of words or a short sentence for your variable, then print it.

my_reason_for_coding=
print()

SyntaxError: invalid syntax (2679552784.py, line 3)

In [5]:
#Assign a float with 2 decimals to the variable below. If you don't wan't to search the value you can check out Hint 1.

global_mean_sea_level_2018=21

#Type your code here.
global_mean_sea_level_2018=


print(global_mean_sea_level_2018)

SyntaxError: invalid syntax (2850882771.py, line 6)

In [6]:
#Assign True or False to the variable below then print it.

staying_alive=
print(staying_alive)

SyntaxError: invalid syntax (3882308178.py, line 3)

In [7]:
men_stepped_on_the_moon=12

#Type your code here.

answer_1=type(men_stepped_on_the_moon)


print(answer_1)

<class 'int'>

In [8]:
my_reason_for_coding="intergalactic travel"

#Type your code here.

answer_2= type(my_reason_for_coding)


print (answer_2)

<class 'str'>

In [9]:
global_mean_sea_level_delta_2018=21.36

#Type your code here.

answer_3=type(global_mean_sea_level_delta_2018)


print(answer_3)

<class 'float'>

In [10]:
men_stepped_on_the_moon=12

#Type your code here.

answer_1=type(men_stepped_on_the_moon)


print(answer_1)

<class 'int'>

In [11]:
my_reason_for_coding="intergalactic travel"

#Type your code here.

answer_2= type(my_reason_for_coding)


print (answer_2)

<class 'str'>

In [12]:
global_mean_sea_level_delta_2018=21.36

#Type your code here.

answer_3=type(global_mean_sea_level_delta_2018)


print(answer_3)

<class 'float'>

In [13]:
staying_alive=True

#Type your code here.


answer_4=type(staying_alive)


print(answer_4)

<class 'bool'>

In [14]:
#my_grade variable is a string (because it's in quotes). On line 9, convert it to an integer.

my_grade="10"

answer_5=int(my_grade)


print(answer_5)

10

In [15]:
#my_temp variable is a float (because it has decimals). On line 9, convert it to an integer.

my_temp=97.70

answer_6=int(my_temp)


print(answer_6)

97

In [16]:
#shoe_price variable is a string (because it's in quotes). On line 9, convert it into a float.

shoe_price="69.99"

answer_7= float(shoe_price)


print(answer_7)

69.99

In [17]:
#GWP denotes the total economic activity created by the world population collectively in a year.

gross_world_product=84.84

gwp_str=str(gross_world_product)

answer_8="In 2018 gross product of the world (GWP) was " + gwp_str + " in trillion US dollars."


print(answer_8)

print(type(answer_8))

In 2018 gross product of the world (GWP) was 84.84 in trillion US dollars.
<class 'str'>

In [1]:
#Create an empty list on line 3 and assign its type on line 4

gift_list= list()

answer_1= type(gift_list)


print(answer_1)

<class 'list'>

In [2]:
#Create an empty dictionary on line 3 and assign its type on line 4

grocery_items= dict()

answer_2= type(grocery_items)


print(answer_2)

<class 'dict'>

In [3]:
#Create an empty tuple on line 3 and assign its type on line 4

bucket_list= tuple()

answer_2= type(bucket_list)


print(answer_2)

<class 'tuple'>

In [4]:
#Fill in the right side of equation on line 4 so that gift_list 
#is assigned to a list with values in it.

gift_list= ["ipad", "telefono", "oreos"]
print(gift_list)

['ipad', 'telefono', 'oreos']

In [5]:
#Fill in the right side of equation on line 3 so that grocery_list 
#is assigned to a dictionary with values in it.

grocery_list= {'bananas':8, 'leches':['deslactosada', 'entera', 'light'],
               'notas': 'tiene que estar listo antes del annio nuevo',
               'comida_de_navidad': {'plato_1':'pavo', 'plato_2':'romeritos', 
                                     'plato_3': 'bacalao'},
              'fecha_de_navidad':('24 de diciembre')}
                                     


print(grocery_list)

{'bananas': 8, 'leches': ['deslactosada', 'entera', 'light'], 'notas': 'tiene que estar listo antes del annio nuevo', 'comida_de_navidad': {'plato_1': 'pavo', 'plato_2': 'romeritos', 'plato_3': 'bacalao'}, 'fecha_de_navidad': '24 de diciembre'}

In [6]:
#Fill in the right side of equation on line 3 so that bucket_list is assigned to a tuple with values in it.

bucket_list= ('comer chocolates', 'comer pan dulce', 'comer bananas')
print(bucket_list)

('comer chocolates', 'comer pan dulce', 'comer bananas')